*.pyc
*.class
*.c
PyAMF.egg-info/
_trial_temp/
build/
cpyamf/*.so
doc/build/
doc/changelog.rst
doc/html/intro.html
doc/themes
cpyamf/amf3.pyd
cpyamf/codec.pyd
cpyamf/util.pyd
dist
file_model
pyamf/_version.py
# coverage
.coverage
.noseids
cover
htmlcov
